ul.list-social
  li.list-social__item
    a.list-social__link(href="#")
      span.list-social__icon.list-social__icon_one
  li.list-social__item
    a.list-social__link(href="#")
      span.list-social__icon.list-social__icon_two
  li.list-social__item
    a.list-social__link(href="#")
      span.list-social__icon.list-social__icon_three
  li.list-social__item
    a.list-social__link(href="#")
      span.list-social__icon.list-social__icon_four
  li.list-social__item
    a.list-social__link(href="#")
      span.list-social__icon.list-social__icon_five