ul.list-address
  li.list-address__item
    span.list-address__icon.list-address__icon_one
    p.list-address__txt
      span.list-address__txt.list-address__txt_position 5419 Joseph Mountains
      span.list-address__txt.list-address__txt_position Apt. 716
  li.list-address__item.list-address__item_position_target.list-address__item_position_inner
    span.list-address__icon.list-address__icon_two.list-address__icon_position_icon-two
    a.list-address__link(href="#") +1 234 567 89
    a.list-address__link(href="#") +1 234 678 90
  li.list-address__item.list-address__item_position_special.list-address__item_position_left
    span.list-address__icon.list-address__icon_three.list-address__icon_position_icon-three
    a.list-address__link(href="#") joga.info@example.com
  li.list-address__item.list-address__item_position_special.list-address__item_position_target.list-address__item_position_inner.list-address__item_position_left
    span.list-address__icon.list-address__icon_four.list-address__icon_position_icon-four
    a.list-address__link(href="#") www.example.com