.slider-preview#slickSliderPreview
  .slider-preview__item
    .slider-preview__box-content
      .slider-preview__box-figure
        figure.slider-preview__figure
          img(src="img/min-trainer-sara.png", alt="trainer preview photo")
      .slider-preview__box-text
        p.slider-preview__txt
          span.slider-preview__txt.slider-preview__txt_bold Sara Taylor
          span.slider-preview__txt.slider-preview__txt_small Trainer
  .slider-preview__item
    .slider-preview__box-content
      .slider-preview__box-figure
        figure.slider-preview__figure
          img(src="img/min-trainer-robert.png", alt="trainer preview photo")
      .slider-preview__box-text
        p.slider-preview__txt
          span.slider-preview__txt.slider-preview__txt_bold Robert Wolfs
          span.slider-preview__txt.slider-preview__txt_small Trainer
  .slider-preview__item
    .slider-preview__box-content
      .slider-preview__box-figure
        figure.slider-preview__figure
          img(src="img/min-trainer-sem.png", alt="trainer preview photo")
      .slider-preview__box-text
        p.slider-preview__txt
          span.slider-preview__txt.slider-preview__txt_bold Sem Tools
          span.slider-preview__txt.slider-preview__txt_small Trainer
  .slider-preview__item
    .slider-preview__box-content
      .slider-preview__box-figure
        figure.slider-preview__figure
          img(src="img/min-trainer-laura.png", alt="trainer preview photo")
      .slider-preview__box-text
        p.slider-preview__txt
          span.slider-preview__txt.slider-preview__txt_bold Laura Shepard
          span.slider-preview__txt.slider-preview__txt_small Trainer
.slider-preview-control
  .slider-preview-control__box-arrow
    .slider-preview-control__box-arrow-prev
      button.button-arrow-prev.button-arrow-prev_size#btnSliderPreviewPrev
        svg.button-arrow-prev__icon-prev.button-arrow-prev__icon-prev_size
          use(xlink:href="img/svg/sprite.svg#arrow_left")
    .slider-preview-control__box-arrow-next
      button.button-arrow-next.button-arrow-next_size#btnSliderPreviewNext
        svg.button-arrow-next__icon-next.button-arrow-next__icon-next_size
          use(xlink:href="img/svg/sprite.svg#arrow_right")