.slider-info#slickSliderInfo
  .slider-info__item
    .slider-info__box-content
      .slider-info__box-figure
        figure.slider-info__figure
          img.slider-info__picture(src="img/trainer-laura.png", alt="trainer photo")
      .slider-info__box-text
        p.slider-info__txt.slider-info__txt_theme_italic.slider-info__txt_decor-line Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
        p.slider-info__txt
          span.slider-info__txt.slider-info__txt_small Trainer
          span.slider-info__txt.slider-info__txt_theme_accent Laura Shepard
  .slider-info__item
    .slider-info__box-content
      .slider-info__box-figure
        figure.slider-info__figure
          img.slider-info__picture(src="img/trainer-sara.png", alt="trainer photo")
      .slider-info__box-text
        p.slider-info__txt.slider-info__txt_theme_italic.slider-info__txt_decor-line Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
        p.slider-info__txt
          span.slider-info__txt.slider-info__txt_small Trainer
          span.slider-info__txt.slider-info__txt_theme_accent Sara Taylor
  .slider-info__item
    .slider-info__box-content
      .slider-info__box-figure
        figure.slider-info__figure
          img.slider-info__picture(src="img/trainer-robert.png", alt="trainer photo")
      .slider-info__box-text
        p.slider-info__txt.slider-info__txt_theme_italic.slider-info__txt_decor-line Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
        p.slider-info__txt
          span.slider-info__txt.slider-info__txt_small Trainer
          span.slider-info__txt.slider-info__txt_theme_accent Robert Wolfs
  .slider-info__item
    .slider-info__box-content
      .slider-info__box-figure
        figure.slider-info__figure
          img.slider-info__picture(src="img/trainer-sem.png", alt="trainer photo")
      .slider-info__box-text
        p.slider-info__txt.slider-info__txt_theme_italic.slider-info__txt_decor-line Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
        p.slider-info__txt
          span.slider-info__txt.slider-info__txt_small Trainer
          span.slider-info__txt.slider-info__txt_theme_accent Sem Tools