.slider-about#slickSliderAbout
  .slider-about__item
    figure.slider-about__figure
      img.slider-about__picture(src="img/slider-about-1.png", alt="picture")
  .slider-about__item
    figure.slider-about__figure
      img.slider-about__picture(src="img/slider-about-2.png", alt="picture")
  .slider-about__item
    figure.slider-about__figure
      img.slider-about__picture(src="img/slider-about-3.png", alt="picture")
.slider-about-control__box-arrow
  .slider-about-control__box-arrow-prev
    button.button-arrow-prev#btnSliderAboutPrev
      svg.button-arrow-prev__icon-prev
        use(xlink:href="img/svg/sprite.svg#arrow_left")
  .slider-about-control__box-arrow-next
    button.button-arrow-next#btnSliderAboutNext
      svg.button-arrow-next__icon-next
        use(xlink:href="img/svg/sprite.svg#arrow_right")