.button-menu-open {
  padding: 0;
  border-width: 0px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.button-menu-close {
  @extend .button-menu-open;
}

.button {
  padding: 17px 64px;
  border-width: 0px;
  background-color: $swatch_1;
  box-shadow: 2px 2px 5px $swatch_17;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: $swatch_0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: lighten($swatch_1, 2%);
  }
}

.button-arrow-prev {
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $swatch_0;
  border-width: 0;
  border-radius: 50%;
  box-shadow: 6px 6px 9px $swatch_19;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  &__icon-prev {
    width: auto;
    height: 21px;
  }
}

.button-arrow-next {
  @extend .button-arrow-prev;
  &__icon-next {
    @extend .button-arrow-prev__icon-prev;
  }
}
