// header
.header {
  position: fixed;
  width: 100%;
  &__content-mobile {
    @media (min-width: $md) {
      display: none;
    }
  }
  &__content-full-screen {
    display: none;
    @media (min-width: $md) {
      height: 103px;
      display: block;
    }
  }
}
