.section {
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
  }

  &__picture {
    object-fit: cover;
    width: 100%;
    height: 110%;
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: $swatch_4;
    opacity: 0.8;
  }
  &__heading {
    @media (min-width: $xl) {
      font-size: 30px;
    }
    &_size {
      @media (min-width: $lg) {
        font-size: 45px;
      }
      @media (min-width: $xl) {
        font-size: 48px;
      }
    }
    &_position {
      display: block;
      &_outer {
        position: relative;
        top: -6px;
      }
    }
    &_theme {
      &_white {
        color: $swatch_0;
      }
    }
  }
  &__subtitle {
    margin-top: 0;
    font-family: "Freestyle Script", serif;
    font-size: 29px;
    @media (min-width: $xl) {
      margin-top: 34px;
    }
    @media (min-width: $lg) {
      font-size: 35px;
      line-height: 45px;
    }
    @media (min-width: $xl) {
      font-size: 40px;
    }
    &_position {
      display: block;
      &_outer {
        margin-top: -10px;
      }
    }
    &_theme {
      &_white {
        @extend .section__heading_theme_white;
      }
    }
  }
}

// section hero
.section-hero {
  position: relative;
  margin-top: 50px;
  min-height: 720px;
  overflow: hidden;
  background-color: $swatch_4;
  z-index: 1;
  @media (min-width: $lg) {
    min-height: 650px;
  }
  &__box-form {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    @media (min-width: $md) {
      margin-top: -20px;
    }
    @media (min-width: $lg) {
      margin-top: 150px;
      margin-right: 3px;
    }
  }
  &__box-content-text {
    margin-top: 25px;
    text-align: center;
    @media (min-width: $sm) {
      margin-top: 50px;
    }
    @media (min-width: $md) {
      margin-top: 90px;
      text-align: left;
      padding-left: 40px;
    }
    @media (min-width: $lg) {
      margin-top: 195px;
    }
    @media (min-width: $xl) {
      margin-top: 215px;
      padding-left: 71px;
    }
  }
}

// section program
.section-program {
  margin-top: 70px;
  @media (min-width: $xl) {
    margin-top: 117px;
  }
  &__box-text {
    text-align: center;
  }
  &__box-card-program {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 292px;
    @media (min-width: $sm) {
      width: 310px;
    }
    @media (min-width: $md) {
      width: 570px;
    }
    @media (min-width: $xl) {
      margin-top: 66px;
      width: 100%;
    }
  }
}
