nav.menu
  .container
    .menu__box-content
      ul.menu__list
        li.menu__item
          a.menu__link.js-smooth-scroll-slow(href="#aboutus") About us
        li.menu__item
          a.menu__link.js-smooth-scroll-slow(href="#hero") Reservation
        li.menu__item
          a.menu__link.js-smooth-scroll-slow(href="#gallery") Gallery
        li.menu__item
          .menu__box-logo
            include ../logo/_logo
        li.menu__item
          a.menu__link.js-smooth-scroll-slow(href="#program") Blog 
        li.menu__item
          a.menu__link.js-smooth-scroll-slow(href="#advantage") Elements
        li.menu__item
          a.menu__link.js-smooth-scroll-slow(href="#service") Shop