nav.menu
  .container
    .menu__box-content
      ul.menu__list
        li.menu__item
          a.menu__link(href="#") About us
        li.menu__item
          a.menu__link(href="#") Reservation
        li.menu__item
          a.menu__link(href="#") Gallery
        li.menu__item
          .menu__box-logo
            include ../logo/_logo
        li.menu__item
          a.menu__link(href="#") Blog 
        li.menu__item
          a.menu__link(href="#") Elements
        li.menu__item
          a.menu__link(href="#") Shop