nav.menu-mobile
  .menu-mobile__box-button
    button.button-menu-open#btnMenuOpen
      svg.menu-mobile__icon
        use(xlink:href="../img/svg/sprite.svg#menu")
  .menu-mobile__popup
    .menu-mobile__box-button
      button.button-menu-close#btnMenuClose
        svg.menu-mobile__icon
          use(xlink:href="../img/svg/sprite.svg#close")
    ul.menu-mobile__list
      li.menu-mobile__item
        a.menu-mobile__link(href="#") About us
      li.menu-mobile__item
        a.menu-mobile__link(href="#") Reservation
      li.menu-mobile__item
        a.menu-mobile__link(href="#") Gallery
      li.menu-mobile__item
        a.menu-mobile__link(href="#") Blog 
      li.menu-mobile__item
        a.menu-mobile__link(href="#") Elements
      li.menu-mobile__item
        a.menu-mobile__link(href="#") Shop
  .menu-mobile__box-logo
    include ../logo/_logo