nav.menu-mobile
  .menu-mobile__box-button
    button.button-menu-open#btnMenuOpen
      svg.menu-mobile__icon
        use(xlink:href="img/svg/sprite.svg#menu")
  .menu-mobile__popup
    .menu-mobile__box-button
      button.button-menu-close#btnMenuClose
        svg.menu-mobile__icon
          use(xlink:href="img/svg/sprite.svg#close")
    ul.menu-mobile__list
      li.menu-mobile__item
        a.menu-mobile__link.js-smooth-scroll-slow(href="#aboutus") About us
      li.menu-mobile__item
        a.menu-mobile__link.js-smooth-scroll-slow(href="#hero") Reservation
      li.menu-mobile__item
        a.menu-mobile__link.js-smooth-scroll-slow(href="#gallery") Gallery
      li.menu-mobile__item
        a.menu-mobile__link.js-smooth-scroll-slow(href="#program") Blog 
      li.menu-mobile__item
        a.menu-mobile__link.js-smooth-scroll-slow(href="#advantage") Elements
      li.menu-mobile__item
        a.menu-mobile__link.js-smooth-scroll-slow(href="#service") Shop
  .menu-mobile__box-logo
    include ../logo/_logo