section.section.section-hero
  .section__background
    img.section__picture(src="../img/hero-bg.png", alt="background")
  .section__overlay
  .container
    .grid
      .grid__item.grid__item_change_two.width-1-1.width-1-2-lg
        .section-hero__box-form
          include ../form/_form
      .grid__item.width-1-1.width-1-2-lg
        .section-hero__box-content-text
          h1.section__heading
            span.section__heading_position.section__heading_theme_white.section__heading_position_outer Just Balance
            span.section__heading_position.section__heading_theme_white your Mind &amp; Body
          p.section__subtitle
            span.section__subtitle_position.section__subtitle_theme_white Create the healthy living
            span.section__subtitle_position.section__subtitle_theme_white for yourself