section.section-about#aboutus
  .container
    .section-about__box-content
      .grid
        .grid__item.width-1-1.width-1-2-lg
          .section-about__box-text
            h2.section__heading About us
            p.section-about__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
        .grid__item.width-1-1.width-1-2-lg
          .section-about__box-slider
            include ../slider/_slider-about
