section.section-gallery#gallery
  .section-gallery__box-content#galleryRun
    a.section-gallery__link-picture(href="img/gallery-pic-1.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-1.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-2.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-2.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-3.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-3.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-4.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-4.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-5.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-5.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-6.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-6.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-7.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-7.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")
    a.section-gallery__link-picture(href="img/gallery-pic-8.png")
      img.section-gallery__picture(src="img/thumbnails/gallery-pic-8.png", alt="picture")
      svg.section-gallery__icon
        use(xlink:href="img/svg/sprite.svg#glass")