footer.footer
  .footer__box-content-base
    .container
      .grid
        .grid__item.width-1-1.width-1-2-lg
          .footer__box-text
            p.footer__title About
            p.footer__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
          .footer__box-list-social
            include ../list/_list-social
        .grid__item.width-1-1.width-1-2-lg
          .footer__box-text.footer__box-text_position_inner
            p.footer__title Contact us
          .footer__box-list-address
            include ../list/_list-address
  .footer__box-content-bottom
    .container
      .footer__box-copyright
        p.footer__txt-copyright Copyright  &copy;  2016-2017 Yoga classes