header.header
  .container
    h1 Just Balance your MindBody 
    a(href="#") Link
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi alias numquam, laborum minima consequuntur aliquam explicabo culpa. Ipsum, earum aperiam?