extends ../templates/_base.pug
block variables
  -let urlSite = "http://yoga.technoninja-xp.h1n.ru"
  -let pathSiteOgImg = "http://yoga.technoninja-xp.h1n.ru/img/og-desc-yoga.jpg"
  -let pageTitle = "Yoga"
  -let pathCss ="css/main-min.css"
block content
  include ../modules/header/_header
  main.main
    include ../modules/section/_section-hero
    include ../modules/section/_section-program
    include ../modules/section/_section-gallery
block foot
block script
  script(src="libs/libs-min.js")
  script(src="js/common-min.js")